@media screen and (min-width: 768px){
    #menu{
        display: none;
    }

    menu {
        display: block;
        margin: 10px;
        padding: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}