:root{
    --azulescuro: #062540;
    --azullodo: #274659;
    --azulfosco: #a2b4a8d3;
    --rosa1: #D97777;
    --rosa2: #F29F80;
    --bege: #F2E1C2;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--azullodo);
    height: 100vh;
    width: 100vw;
}

main {
    background-color: var(--azulfosco);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

main > div#imagem {
    background: #062540 url(tela_login.jpg) no-repeat;
    display: block;
    background-size: cover;
    position: left bottom;
    height: 200px;

}
