:root{
    --azulescuro: #062540;
    --azullodo: #274659;
    --azulfosco: #a2b4a8d3;
    --rosa1: #D97777;
    --rosa2: #F29F80;
    --bege: #F2E1C2;
    --lilas: #75778E;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: var(--azullodo);
    height: 100vh;
    width: 100vw;
}

main {
    background-color: #FCEEC9;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

main > div#imagem {
    background: #062540 url(tela_login.jpg) no-repeat;
    display: block;
    background-size: cover;
    position: left bottom;
    height: 200px;

}

main > div#formulario {
    padding: 10px;
    display: block;
}

main > div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

main > div#formulario > p {
    text-align: justify;
    font-size: 0.8em;
}


form > div.campo {
    background-color: #274659;
    border: 2px solid #274659;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: var(--azulfosco);
    font-size: 1.8em;
    width: 35px;
    padding: 5px;
}

div.campo > input {
    background-color: #FCEEC9;
    font-size: 1em;
    flex: 1;
    height: 80%;
    width: 88%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: var(--azullodo);
    color: var(--bege);
}

form > input[type=submit]:hover {
    background-color: #D97777;
    color: #274659;
    transition-duration: 0.5s;
}

form > a.botao {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: #F29F80;
    color: #062540;
    border: 1px solid var(--rosa1);
    border-radius: 7px;
    text-decoration: none;
    gap: 8px;
}

form > a.botao:hover {
    background-color: #6B728C;
    color: #F2E1C2;
    transition-duration: 0.5s;
}

form > a.botao > span {
    font-size: 1.2em;
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to bottom, var(--azullodo), var(--lilas), var(--rosa1), var(--rosa2), var(--bege));
    }

    main {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: auto;
    }

    main > div#imagem {
        width: 40%;
        height: auto;
    }

    main > div#formulario {
        width: 60%;
    }
}

/*TELAS MAIORES*/
@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(to top, var(--azullodo), var(--lilas), var(--rosa1), var(--rosa2), var(--bege));
    }

    main {
        display: flex;
        flex-direction: row-reverse;
        width: 950px;
        min-height: 350px;
    }

    main > div#imagem {
        width: 50%;
        height: 100%;
    }

    main > div#formulario {
        width: 50%;
    }

    main > div#formulario > h1 {
        font-size: 2.3em;
    }

    main div#formulario > p {
        font-size: 1.2em;
        margin: 20px 0px;
    }
}